# Application
PROJECT_NAME={{project_name}}
API_V1_STR=/api/v1

# CORS
ALLOWED_ORIGINS=["http://localhost:3000","http://localhost:8000"]

# MongoDB
MONGODB_URL=mongodb://admin:password123@localhost:27017
MONGODB_DB_NAME={{project_name}}_db

# Collections
ITEMS_COLLECTION=items
